
@font-face {
    font-family: 'CreativeAdvanture';
    src: url('fonts/CreativeAdvanture.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    background-color: #74390f;
    color: #3d2c29;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f7c59f;
    padding: 2em 0 1em 0;
}

h1 {
    font-family: 'CreativeAdvanture', cursive;
    font-size: 6em;
    margin: 0;
    background: linear-gradient(to right, darkgreen, lightgreen);
    -webkit-background-clip: text;
    color: #5FC238;
    display: inline-block;
}

.subtitle {
    font-family: 'CreativeAdvanture', cursive;
    font-size: 1.2em;
    margin: 0.5em 2em 0 0;
    display: block; margin: 0 auto; text-align: right; max-width: 650px;
    background: linear-gradient(to right, darkgreen, lightgreen);
    -webkit-background-clip: text;
    color: #5FC238;
}

.hero-img {
    width: 90%;
    max-width: 600px;
    margin: 2em auto;
    display: block;
    border-radius: 12px;
}

.social-links a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #ed6a5a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.social-links a:hover {
    background-color: #d6554a;
}

footer {
    background-color: #f7c59f;
    padding: 1em 0;
    margin-top: 2em;
}

.social-links a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.75em;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

.social-links a.spotify { background-color: #1DB954; }
.social-links a.youtube { background-color: #FF0000; }
.social-links a.instagram { background-color: #E1306C; }
.social-links a.tiktok { background-color: #000000; }
.social-links a.facebook { background-color: #3b5998; }
.social-links a.x { background-color: #000000; }

.social-links a:hover {
    opacity: 0.8;
}

footer .contact {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

footer .contact a {
    color: white;
    text-decoration: underline;
}

footer .contact {
    color: #5FC238;
    font-size: 20px;
    font-weight: bold;
}

footer .contact a {
    color: #5FC238;
    font-family: inherit;
    text-decoration: none;
}

footer .contact a:hover {
    text-decoration: underline;
}

h1, .subtitle, footer .contact {
    text-shadow: 1px 1px 2px #000000aa;
}
