
body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.cover-image {
    display: block;
    margin: 0 auto;
    width: 75%;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a img {
    width: 40px;
    margin: 0 10px;
    filter: drop-shadow(0 0 3px white);
}

.contact-info {
    margin-bottom: 30px;
}

.email a {
    color: #00bfff;
    text-decoration: none;
}

.phone a {
    color: #ff69b4;
    text-decoration: none;
}
